$primaryBlue: #3b556c;
$primaryPink: #9d4a7a;
$grey: #d9d9d9;
$greyDark: #b6b6b6;
$gradientBlue: rgba(59, 85, 108, 1), rgba(217, 217, 217, 0);
$gradientBlueTwo: rgba(59, 85, 108, .1), rgba(217, 217, 217, 0);
$lightBlue: #eff8ff;
$lightBlueShadow: #eff8ffbb;
$black: #000000;
$backgroundWhite: rgba(255, 255, 255, 0.7);
$navBar: rgba(255, 255, 255, 0.741);
$white: #fff;
$whiteShadow: #ffffffcf;
